<p>{{message}}</p>
<p>
	<form method="post">
		Mail: <input type="text" name="userMail" value="{{_form.mail}}"><br>
		Name: <input type="text" name="userName" value="{{_form.name}}"><br>
		Password: <input type="password" name="userPassword" value="{{_form.password}}"><br>
		Active: <input type="checkbox" name="userActive" {{_form.active}}><br>
		<input type="submit" value="Add"><br>
	</form>
</p>
