<p>
	<table>
		<tr>
			<td>userId</td>
			<td>userMail</td>
			<td>userName</td>
			<td>userGroups</td>
		</tr>
		{{#each users}}
		<tr>
			<td>{{userId}}</td>
			<td>{{userMail}}</td>
			<td>{{userName}}</td>
			<td>{{userGroups}}</td>
		</tr>
		{{/each}}
	</table>
	Count: <b>{{length users}}</b>
</p>
