<p>
	<table>
		<tr>
			<td>userId</td>
			<td>userMail</td>
			<td>userName</td>
			<td>userGroups</td>
			<td>&nbsp;</td>
		</tr>
		{{#each users}}
		<tr>
			<td>{{userId}}</td>
			<td>{{userMail}}</td>
			<td>{{userName}}</td>
			<td>{{userGroups}}</td>
			<td><a href="/admin/manageUsers/modify/{{userId}}/">Modify</a> | <a href="/admin/manageUsers/remove/{{userId}}/">Remove</a></td>
		</tr>
		{{/each}}
	</table>
	Count: <b>{{length users}}</b> | <a href="/admin/manageUsers/create">Create</a>
</p>
