<p>
	<form method="post">
		<input type="text" value="{{userData.userId}}" name="userId" readonly /><br />
		<input type="text" value="{{userData.userName}}" name="userName" /><br />
		<input type="text" value="{{userData.userMail}}" name="userMail" /><br />
		<input type="text" value="{{userData.userPassword}}" name="userPassword" readonly /><br />
		<input type="text" value="{{userData.userGroups}}" name="userGroups" readonly /><br /><br />
		<input type="submit" value="Proceed" />&nbsp;<a href="/admin/manageUsers" class="button">Abort</a>
	</form> 
</p>